.deps
.libs
.dirstamp
Makefile
Makefile.in
config.guess
config.log
config.status
config.sub
configure
lib*la-*.lo
lib*la-*.o
lib*.la
install-sh
libtool
missing
ltmain.sh
depcomp
*.pyc
.vscode
autom4te.cache
aclocal.m4
sca.pc
